@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input{
  font-family: "Josefin Sans", "sans-serif";
  color: white;
}

body{
  height: 100%;
  overflow: hidden;

}

.chat-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
  color: white;
  
}



.container-chat {
  height: 85vh;
  width: 85vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
  
  
  
}

.input-chat {
  width: 100%;
  width: 100%;

}



.container-chat-responsive {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (max-width: 500px){
    width: 100%!important;
  }
}

.contacts-menu{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  overflow: auto;
 
 
}

.contacts-menu-full-width {
  width: 100%;
}

.contacts-menu-hidden {
  display: none;
}

.messages-hidden {
  display: none;
}

.messages-full-width {
  width: 100%;
  overflow: auto;
}

.contacts-hidden{
  display: none;
}

.contact{
  background-color: #525269;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.contact-selected{
  background-color: #525299;
}

.chat-menu{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  overflow: auto;

}

.user{
  color: #4e00ff;
}

.current-chat{
  padding: 1.5rem ;
}

.logout{
  padding: 1rem;
 
}

.contacts-button{
 padding: 1rem;

}

.send-icon{
  /* width: 1.4rem; */
}

.form-chat{
  display: grid;
  grid-template-columns: 90% 10%;
  justify-content: center;
  width: 100%;
  @media screen and(max-width: 500px){
    margin: 0;
    grid-template-columns: 85% 15%;
  
  }
}
.messages{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  
  
  
  
}

.mensaje-usuario-actual{
  align-self: flex-end;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #4f04ff21;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
  

}

.mensaje-usuario{
  align-self: flex-start;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #4f04ff21;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
}

.container-titulo {
  text-align: center;
}

.container-buttons {
  display: flex; 
  flex-direction: row;
  justify-content: space-between!important;
  gap: 8rem;
  @media only screen and (max-width: 400px) {
  gap: 4rem;
  }
 
}

.robot {
  

  @media only screen and (max-width: 575px) {
    width: 75%;
  }
}